---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Configure Nginx
  template:
    src: default.j2
    dest: /etc/nginx/sites-available/default
  notify: Restart Nginx

- name: Deploy index page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html

- name: Deploy date page
  template:
    src: date.html.j2
    dest: /var/www/html/date.html
